<mat-toolbar class="navcolor" color="primary">

  <span id="logo"> 
    News
  </span>  

</mat-toolbar>

<mat-sidenav-container class="sidenavcontainer">
  <table>
    <tr>
      <th style="width: 20%">
        <mat-list class="list-nav">
          <mat-list-item class="list-item" *ngFor="let source of mSources" (click)="searchArticles(source.id);sidenav.close();">
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ source.id +'.png)'}" class="list-news-image">
            </div>
          
            <span class="source-name"> 
              {{source.name}}
            </span>
          </mat-list-item>
        </mat-list>
      </th>

      <th>
        <mat-card class="news-card"  *ngFor="let article of mArticles">
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ article.source.id +'.png)'}" class="list-news-image">
            </div>
            <mat-card-title class="title">
              {{article.title}}
            </mat-card-title>
            <mat-card-subtitle id="card-source-name">
              {{article.source.name}}
            </mat-card-subtitle>
          </mat-card-header>

          <table>
            <tr>
              <th>
                <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
              </th>
              <th></th>
              <th>
                <mat-card-content id="card-content">
                <p>
                  {{article.description}}
                </p>
                </mat-card-content>
                
                <mat-card-actions class="action-buttons">
                  <button mat-button color="primary"><mat-icon>thumb_up_alt</mat-icon>12 Likes</button>
                  <!-- <button mat-button color="primary"><mat-icon>comment</mat-icon> Comments</button> -->
                  <button mat-button color="primary"><mat-icon>share</mat-icon> Share</button>
                  <a mat-button color="primary" href={{article.url}} target="_blank" ><mat-icon>visibility</mat-icon> More</a>
                </mat-card-actions>
              </th>
            </tr>
          </table>
    
          <!-- <mat-card-actions class="action-buttons">
          <button mat-button color="primary"><mat-icon>thumb_up_alt</mat-icon> 12 Likes</button>
          <button mat-button color="primary"><mat-icon>comment</mat-icon> Comments</button>
          <button mat-button color="primary"><mat-icon>share</mat-icon> Share</button>
          <a mat-button color="primary" href={{article.url}} target="_blank" ><mat-icon>visibility</mat-icon> More</a>
          </mat-card-actions> -->
        </mat-card>
    </th>
  </tr>
  </table>
</mat-sidenav-container>
