.example-spacer {
    flex: 1 1 auto;
  }

  #imgnews{
      float: left;
  }

  #descnews{
      float: right;
  }
  .navcolor{
      background-color: #39ad37;
  }

  .setting{
      align-content: right;
  }
  
  .news-card{
      margin-top: 4px;
  }
  
  .card-news-image { 
    background-size: cover;
  }
  
  .title{
      font-weight: bold;
      text-align: left;
  }
  
  /* .img-article{
      height: 450px;
  } */

  /* .img-article{
    width: 200px;
}
   */
  .action-buttons{
      text-align: center;
  }
      
  .sidenavcontainer {
      width: 100%;
      height: auto;
      border: 1px solid rgba(111, 111, 111, 0.50);
      background-color:rgb(250, 249, 246);
  }
    
  .example-sidenav-content {
      display: flex;
      height: 75%;
      align-items: center;
      justify-content: center;
  }
    
  .example-sidenav {
      padding: 20px;
  }
  
  .source-name {
      margin-left:5px; 
  }
  
  .list-item:hover{
      cursor: pointer;
      /* background-color: #3f51b5; */
      background-color: #415858;
      color: white;
  }

  #logo{
      text-decoration-color: #415858;
  }

 .list-news-image{
        background-size: cover;
  }

  .img-article{
      margin-left: 3.4em;
      width: 25em;
      height: 15em;
      align-content: center;
  }
  

#card-content{
    margin-left: 5em;
    margin-top: 0em;
    margin-right: 5em;
    font-size: 1em;
    text-align: left;
}

#card-source-name{
    align-content: left;
    text-align: left;
}