<mat-toolbar class="navcolor" color="secondary">

  <!-- <button mat-button (click)="sidenav.open ()">
    <mat-icon>
      menu
    </mat-icon>
  </button> -->

  <span>
    News
  </span>  

</mat-toolbar>

<mat-sidenav-container class="sidenavcontainer">
  <!-- <mat-sidenav #sidenav class="example-sidenav"> -->
  <table>
    <tr>
      <th>
        <mat-list class="list-nav">
          <mat-list-item class="list-item" *ngFor="let source of mSources" (click)="searchArticles(source.id);sidenav.close();">
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ source.id +'.png)'}" class="example-header-image">
            </div>
          
            <span class="source-name"> 
              {{source.name}}
            </span>
        
          </mat-list-item>
        </mat-list>
      </th>
  <!-- </mat-sidenav> -->
      <th>
        <mat-card class="news-card"  *ngFor="let article of mArticles">
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ article.source.id +'.png)'}" class="example-header-image">
            </div>
            <mat-card-title class="title">
              {{article.title}}
            </mat-card-title>
            <mat-card-subtitle>
              {{article.source.name}}
            </mat-card-subtitle>
          </mat-card-header>

          <table>
            <tr>
              <th colspan="3">
                <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
              </th>
            
              <th>
                <mat-card-content>
                <p>
                  {{article.description}}
                </p>
              </mat-card-content>
        </th>
      </tr>
    </table>
    
    <mat-card-actions class="action-buttons">
      <button mat-button color="primary"><mat-icon>thumb_up_alt</mat-icon> 12 Likes</button>
      <button mat-button color="primary"><mat-icon>comment</mat-icon> Comments</button>
      <button mat-button color="primary"><mat-icon>share</mat-icon> Share</button>
      <a mat-button color="primary" href={{article.url}} target="_blank" ><mat-icon>visibility</mat-icon> More</a>
    </mat-card-actions>
  </mat-card>
  </th>
  </tr>
  </table>
</mat-sidenav-container>
