@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
<<<<<<< HEAD
    background:#f3e6c9;
=======
    padding: 0em 15em;  
    background:rgb(224, 233, 173);
>>>>>>> refs/remotes/origin/master
}
